<% include partials/headers %>

<h1>This is campgrounds in Indonesia</h1>
<% campgrounds.forEach((camp) => { %>
    <div>
        <h4><%= camp.name %></h4>
        <img src="<%= camp.image %>">
    </div>
<% }); %>

<% include partials/footers %>